
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
  display: flex;
  justify-content: center;
}
.header, .height, .width, .depth, .weight{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  padding: 20px;
}
.header {
  background-color: #087f5b;
  color: white;
  font-weight: bold;
}
.width, .depth {
  background-color: #f8f9fa;
}
.height, .weight {
  background-color: #e9ecef;
}
.title {
  font-weight: bold;
}

